@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul{
  list-style-type: none;
}

a{
  display: flex;
  color: grey;
  text-decoration:  none;

}

.header{
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.header .left-links{
  display: flex;
  gap: 16px;
  font-size: small;
}

.header .right-links{
  display: flex;
  gap: 16px;
  font-size: small;
  margin-right: 8px;
}

.footer{
  display: flex;
  justify-content: space-between;
  padding: 8px;
  background-color: #eeeeee;;
}

.footer .left-links{
  display: flex;
  gap: 16px;
  font-size: small;
}

.footer .right-links{
  display: flex;
  gap: 16px;
  font-size: small;
  margin-right: 8px;
}

.buttons{
  padding: 8px;
}

.content{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 170px;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
