/* Add CSS Styling */

.oddnumbers{
    background-color: rgb(255, 138, 138);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#two{
    color: blue;
    font-size: 36px;
}

.third{
    font-size: 24px;
}

#four{
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}